*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/src/debug/res/values
/src/release/res/values
.externalNativeBuild
google-services.json